[Desktop Entry]
Name=TorReader PDF
GenericName=PDF Viewer and Editor
Comment=Fast offline PDF reader, editor and merger
Exec=TorReader %f
Icon=cloud.torreader.TorReader
Terminal=false
Type=Application
Categories=Office;Viewer;Qt;
MimeType=application/pdf;
Keywords=pdf;viewer;editor;reader;merge;split;sign;annotate;acrobat;
StartupWMClass=TorReader
StartupNotify=true
X-AppImage-Version=2.2.4
